.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../src/Gambar/menu.svg);
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.btn-warning {
    background-color: #ffba00;
    border: 3px solid #fff;
    color: #fff;
    padding-right: min(max(1rem, 4vw),5rem);
    padding-left: min(max(1rem, 4vw),5rem);
}
.bts::before  {
    display: block;
    content: " ";
    margin-top: -56px;
    height: 56px;
    visibility: hidden;
}
.hero {
    background-image: url(../src/Gambar/modern.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: #242424;
    height: calc(100vh - 56px);
    background-size: auto;
    display: flex;
    align-items: center;
}
.abu {
    background: #242424;
}
.biru {
    background: #ffba00;
}
.dpt {
    font-size: min(max(56px, 10vw),96px);
    font-weight: 500;
}
.tp {
    background-color: #ffba00;
    border: 3px solid white;
    margin-bottom: -1rem;
    position: relative;
    z-index: 15;
}
.bw {
    background: #ffba00;
    padding-top: 2rem;
}
.devsm {
    background-color: #242424;
}